<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    
<h1>Lista de comentários:</h1>
<ul>
    <%for(comentário of comentários) {%>
        <li><b><%= comentário.username %></b>: <%= comentário.texto %></li>
    <% } %>
</ul>
<button><a href="/comentarios/novo">Novo comentário</a></button>
</body>
</html>