<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar comentário</title>
</head>
<body>
    
<h1>ID Comentário: <%= comentário.id %></h1>
<h2>Comentário: <%= comentário.texto%></h2>
<h3>Autor: <b><%= comentário.username %> </b></h3>

<button><a href="/comentarios">Voltar</a></button>
</body>
</html>