<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos disponíveis</title>
</head>
<body>
    <h1>Todos os produtos disponíveis</h1>
    <ul>
        <% for(let produto of produtos) {%>
        <li><%=`${produto.nome}, preço: ${produto.preço}`%></li>
        <%}%>
    </ul>
</body>
</html>