<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aleatório</title>
</head>

<body>
    <h1>O seu número aleatório é: <%= num %></h1>
    <% if (num % 2 === 0) { %>
    <h2>O número é par!</h2>
    <% } else { %>
    <h2>O número é impar!</h2>
    <% } %>
<h3><%= num%2===0 ? "PAR" : "IMPAR"; %></h3>

</body>

</html>