<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo EJS</title>
</head>

<body>
    <h1>A HOMEPAGE <%= "Boas Mundo".toUpperCase(); %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptate consequatur facere ullam animi
        excepturi dolor, quaerat, earum porro perspiciatis repellat illum. Amet, in maiores! Beatae repellat officia
        laboriosam sit.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, quod accusantium! Omnis cumque sit autem
        nesciunt, sequi consequatur inventore incidunt harum ducimus voluptas veniam dolorum? Voluptatibus assumenda
        minima placeat consectetur?
    </p>
</body>

</html>