<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova quinta</title>
</head>
<body>
    <h1>Insira a nova quinta</h1>
    <form action="/quintas" method="post">
        <section>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome" required>
        </section>
        <section>
            <label for="localidade">Localidade: </label>
            <input type="text" name="localidade" id="localidade">
        </section>
        <section>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" required>
        </section>
        <button>Submeter</button>
    </form>
</body>
</html>