body {
  background-color: #f5d9df;
  font-family: "Nunito", sans-serif;
}

#navPrincipal .navbar-brand {
  color: #ea1c2c;
}

#navPrincipal {
  font-size: 1.5rem;
  font-weight: 100;
}

#navPrincipal .nav-link {
    color: white;
}

#navPrincipal .nav-link:hover {
    color: #ea1c2c;
}

#grupoHeading span{
    color:#ea1c2c;
}

#grupoHeading h1{
    font-weight: 100;
    font-size: 4rem;
}

@media(max-width: 1200px) {
    #grupoHeading h1 {
    font-weight: 100;
    font-size: 3rem;
}
}