<%- include("partials/head") %>


    <%- include("partials/navbar") %>
    <h1>A HOMEPAGE <%= "Boas Mundo".toUpperCase(); %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptate consequatur facere ullam animi
        excepturi dolor, quaerat, earum porro perspiciatis repellat illum. Amet, in maiores! Beatae repellat officia
        laboriosam sit.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, quod accusantium! Omnis cumque sit autem
        nesciunt, sequi consequatur inventore incidunt harum ducimus voluptas veniam dolorum? Voluptatibus assumenda
        minima placeat consectetur?
    </p>
<%- include("partials/footer.ejs") %>