<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apagado</title>
</head>
<body>
    <h1>O parque foi apagado</h1>
    <button><a href="/parques">Voltar à lista dos parques</a></button>
</body>
</html>