<% layout("layouts/boilerplate") %>
    <h1>Todos os Parques</h1>
    <ul>
        <%for(let parque of parques) {%>
        <li><a href="parques/<%=parque._id%>"><b><%=parque.título%></b></a></li>
        <hr>
        <%}%>
    </ul>

    <button><a href="/novo">Criar novo Parque</a></button>
